@import "tailwindcss";
@import "react-shadcn-ui/styles";

@layer base {
  html,
  body,
  #root {
    @apply h-full m-0 p-0;
  }
}
:root {
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  /* Dark Mode */
  --color-background: #242424; /* Dark Gray */
  --foreground: 210 40% 98%; /* Light Gray */
  --primary: 217 91% 60%; /* Lighter Blue */
  /* ... other colors */
}

@layer base {
  h1 {
    @apply text-[3.2em] leading-[1.1];
  }
  h3 {
    @apply text-xl font-bold;
  }
  button {
    @apply rounded-lg py-[0.6em] border-2 border-[#1a1a1a] px-[1.2rem] text-[1em] font-medium bg-[#1a1a1a] transition-all duration-250 font-[inherit] hover:border-[#535bf2]
    focus:outline-none focus:outline-[-webkit-focus-ring-color] focus-visible:outline-none focus-visible:outline-[-webkit-focus-ring-color];
  }
  a {
    @apply font-medium text-[#646cff] decoration-inherit hover:text-[#535bf2];
  }
}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

html:not(.dark) button,
html:not(.dark) input {
  @apply bg-[#f9f9f9] text-[#213547];
}

html:not(.dark) .button-selected {
  @apply border-[#1a1a1a];
}

html:not(.dark) .button-not-selected {
  @apply border-white;
}

@layer components {
  .button-selected {
    @apply border-white;
  }
  .button-not-selected {
    @apply border-[#1a1a1a];
  }
}
